{% extends 'base.html.twig' %}

{% block title %}Liste des Etapes
{% endblock %}

{% block body %}
	<h1>Liste des étapes du badge
		{{achievement}}</h1>
	<a href="{{ path('achievement_steps_new', {id: achievement.id}) }}">Ajouter une étape</a>

	<table class="table">
		<thead>
			<tr>
				<th>Position</th>
				<th>Description</th>
				<th>Badge</th>
			</tr>
		</thead>
		<tbody>
			{% for step in steps %}
				<tr>
					<td>{{ step.position }}</td>
					<td>{{ step.description }}</td>
					<td>
						<a href="{{ path('step_show', {'id': step.id}) }}">Voir</a>
						<a href="{{ path('step_edit', {'id': step.id}) }}">Editer</a>
						{{ include('step/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun élément</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
