{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_label(form.badges)}}
<ul class="badges" data-index="{{ form.badges|length > 0 ? form.badges|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.badges.vars.prototype)|e('html_attr') }}">
	{% for step in form.badges %}
		<li>{{form_widget(step)}}</li>
	{% endfor %}
</ul>
<button type="button" class="add_item_link" data-collection-holder-class="badges">Ajouter un Badge</button>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>
	const addFormToCollection = (e) => {
const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

const item = document.createElement('li');

item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);

collectionHolder.appendChild(item);

collectionHolder.dataset.index ++;
};

document.querySelectorAll('.add_item_link').forEach(btn => {
btn.addEventListener("click", addFormToCollection)
});
</script>
