{% extends 'base.html.twig' %}

{% block title %}Achievement index{% endblock %}

{% block body %}
    <h1>Achievement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achievement in achievements %}
            <tr>
                <td>{{ achievement.id }}</td>
                <td>{{ achievement.name }}</td>
                <td>{{ achievement.description }}</td>
                <td>
                    <a href="{{ path('achievement_show', {'id': achievement.id}) }}">show</a>
                    <a href="{{ path('achievement_edit', {'id': achievement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('achievement_new') }}">Create new</a>
{% endblock %}
