{% extends 'base.html.twig' %}

{% block title %}Achievement index
{% endblock %}

{% block body %}
	<h1>Liste des Achievements</h1>
	<a href="{{ path('achievement_new') }}">Créer</a>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Badges</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for achievement in achievements %}
				<tr>
					<td>{{ achievement.name }}</td>
					<td>{{ achievement.description }}</td>
					<td>
						{% for badge in achievement.badges %}
							<span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">
								{{ badge.name }}
							</span>
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('achievement_show', {'id': achievement.id}) }}">Voir</a>
						<a href="{{ path('achievement_edit', {'id': achievement.id}) }}">Editer</a>
						{{ include('achievement/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun élément</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
