<form method="post" class="SmallForm-form">
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div class="mb-3">
			Vous etes déjà connecté en tant que
			{{ app.user.name ?? app.user.email }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% else %}

		<h1 class="SmallForm-title">
			<i class="bi bi-shield-lock-fill SmallForm-logo"></i>
			Connexion</h1>
		<div class="SmallForm-group">
			<label for="inputEmail" class="SmallForm-label">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="SmallForm-input" autocomplete="email" required autofocus>
		</div>
		<div class="SmallForm-group">
			<label for="inputPassword" class="SmallForm-label">Password</label>
			<input type="password" name="password" id="inputPassword" class="SmallForm-input" autocomplete="current-password" required>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<div class="SmallForm-group--small">
			<label class="SmallForm-label--checkbox" for="rememberMe">
				Rester connecté
			</label>
			<input id="rememberMe" class="SmallForm-input--checkbox" type="checkbox" name="_remember_me">
		</div>


		<button class="Button-turquoise" type="submit">
			Se connecter
		</button>
		<a href="{{path('app_register')}}">S'inscrire</a>
	{% endif %}
</form>
