{% extends 'base.html.twig' %}
{% form_theme form 'theme/form_theme.html.twig' %}

{% block title %}Donner un Badge
{% endblock %}

{% block main %}
    <a class="text-5xl inline-flex items-center my-5 py-2 pr-4 pl-3 transition-all rounded-lg text-black hover:bg-white hover:bg-opacity-50" href="{{ path('achievement_list') }}"><i class="fa-solid fa-arrow-left-long"></i></a>
    {{ form_start(form) }}
        <div class="Give-container">
            <div class="Give-block">
                {% for user in form.user.children %}
                    <div class="Give-item">
                        <div class="Give-label">{{ form_label(user)}}</div>
                        <div class="Give-value sr-only">{{ form_widget(user)}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="Give-block">
                {% for achievement in form.achievement.children %}
                    <div class="Give-item">
                        <div class="Give-label">{{ form_label(achievement)}}</div>
                        <div class="Give-value sr-only">{{ form_widget(achievement)}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="m-auto inline-flex items-center px-5 py-2.5 text-sm border font-medium text-center transition-all rounded-lg text-black bg-white hover:border-black focus:ring-4 focus:outline-none focus:ring-black focus:ring-opacity-30">{{ form_widget(form.submit) }}</div>
    {{ form_end(form) }}
{% endblock %}
