{# Vars : 
    achievement : Entité contenant les données
    owned : Le badge est possédé ou non
 #}
<div {{owned ? 'data-owned' : 'data-not-owned'}} class="item">
    <div class="item-content {{owned ? '' : 'grayscale'}} max-w-sm p-2 m-2 rounded-full w-40 h-72 bg-emerald-300 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <span href="#" class="flex align-center justify-center">
            <img class="rounded-t-lg w-28 border-amber-700" src="{{ asset('build/images/default_badge_icon.svg') }}" alt="" />
        </span>
        <div class="p-5 text-center h-40">
            <h5 class="h-12 mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{achievement.name}}</h5>
            <p class="mb-3 h-12 font-normal text-xs text-gray-700 dark:text-gray-400">
                {{achievement.description|length > 30 ? achievement.description|slice(0, 30) ~ '...' : achievement.description}}
            </p>
            {% include "components/button_primary.html.twig" with {"type": "a", "url":path('achievement_show', {'id': achievement.id}), "text": "Voir"} %}
        </div>
    </div>
</div>